<div class="centered-content">
  <div class="modal-box">
    <h2 class="title has-text-primary">Edit Collection</h2>

    <input
      #collectionTitleInput
      class="input has-background-light"
      type="text"
      autofocus
      placeholder="Enter collection name..."
      [(ngModel)]="collectionTitle"
    />
    <br /><br />
    <div class="buttons is-right">
      <button class="button" routerLink="/">Cancel</button>
      <button
        class="button is-primary has-text-white"
        (click)="updateCollection(collectionTitleInput.value)"
      >
        Save
      </button>
    </div>
  </div>
</div>
