<div class="centered-content">
  <div class="task-manager-container">
    <div class="sidebar has-background-white">
      <div class="top-bar">
        <h2 class="title has-text-primary">Collections</h2>
      </div>
      <div class="collection-menu">
        <div
          class="collection-menu-item"
          *ngFor="let collection of collections; let i = index"
          [routerLink]="['/collections', i]"
          routerLinkActive="is-active"
        >
          {{ collection.title }}
        </div>
        <!-- <a class="collection-menu-item is-active"> Collection 2 </a> -->
        <!-- <a class="collection-menu-item"> Collection 3 </a> -->
      </div>

      <button
        class="button is-primary has-text-white"
        routerLink="/new-collection"
      >
        + New Collection
      </button>
    </div>

    <div class="task-list-container has-background-light">
      <div class="top-bar">
        <h2 class="title has-text-primary">Tasks</h2>
        <div
          *ngIf="collections.length > 0 && tasks.length > 0"
          class="dropdown is-hoverable is-right"
        >
          <div class="dropdown-trigger">
            <button
              class="button"
              [ngClass]="{
                'is-primary':
                  currentFilter === 'completed' ||
                  currentFilter === 'not-completed'
              }"
              aria-haspopup="true"
              aria-controls="dropdown-menu4"
            >
              Filter: {{ currentFilter }}
              <!-- <span class="icon is-small">
                <i class="fas fa-cog" aria-hidden="true"></i>
              </span> -->
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu4" role="menu">
            <div class="dropdown-content">
              <a
                (click)="onTaskFilterClick('all')"
                class="dropdown-item"
                [ngClass]="{ 'is-active': currentFilter === 'all' }"
              >
                All
              </a>
              <a
                (click)="onTaskFilterClick('completed')"
                class="dropdown-item"
                [ngClass]="{ 'is-active': currentFilter === 'completed' }"
              >
                Completed
              </a>
              <a
                (click)="onTaskFilterClick('not-completed')"
                class="dropdown-item"
                [ngClass]="{ 'is-active': currentFilter === 'not-completed' }"
              >
                Not Completed
              </a>
            </div>
          </div>
        </div>
        <div
          *ngIf="collections.length > 0"
          class="dropdown is-hoverable is-right"
        >
          <div class="dropdown-trigger">
            <button
              class="button"
              aria-haspopup="true"
              aria-controls="dropdown-menu4"
              [disabled]="collections.length === 0"
            >
              <span class="icon">
                <img
                  src="assets/settings.png"
                  alt="Settings"
                  height="30px"
                  width="30px"
                />
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu4" role="menu">
            <div class="dropdown-content">
              <a class="dropdown-item" (click)="onEditCollection()">
                Edit Collection</a
              >
              <a
                (click)="onDeleteCollection()"
                class="dropdown-item has-text-danger"
              >
                Delete Collection
              </a>
              <a
                (click)="onDeleteAllCollections()"
                class="dropdown-item has-text-danger"
              >
                Delete All Collections
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Tasks -->
      <!-- <div class="task completed">
        <p class="completed">This is a task</p>
      </div> -->
      <div class="task-items">
        <div
          class="task tooltip"
          [ngClass]="{ completed: task.status === 'completed' }"
          *ngFor="let task of filteredTasks; let i = index"
          (click)="onTaskClick(i, task.status)"
        >
          <div class="task-text">
            <p>
              <label class="checkbox">
                <input
                  [checked]="task.status === 'completed' ? true : false"
                  type="checkbox"
                />
              </label>
              {{ task.title }}
            </p>
            <span class="tooltiptext">Click to change task status</span>
          </div>
          <div class="task-buttons is-right">
            <button class="button icon-btn is-small">
              <div class="icon">
                <img
                  src="assets/edit.jpg"
                  alt="Edit"
                  title="Edit"
                  height="20px"
                  width="20px"
                  (click)="onEditTaskClick(task.id)"
                />
                <!-- <i class="fas fa-edit"></i> -->
              </div>
            </button>

            <button
              class="button icon-btn is-small"
              (click)="onDeleteTaskClick(task.id)"
              style="margin-left: 10px"
            >
              <div class="icon">
                <img
                  src="assets/delete.png"
                  alt="Delete"
                  height="20px"
                  title="Delete"
                  width="20px"
                />
                <!-- <i class="fas fa-trash"></i> -->
              </div>
            </button>
          </div>
        </div>
      </div>
      <h3
        class="empty-state-text"
        *ngIf="collections.length > 0 && tasks.length === 0"
      >
        There are no tasks here! Click the add button to create a new task.
      </h3>
      <h3 class="empty-state-text" *ngIf="collections.length === 00">
        There are no Collections here! Add collection using 'New Collection'
        button in the sidebar.
      </h3>

      <button
        class="circle-add-button button is-primary"
        [routerLink]="['/collections/', collectionId, 'new-task']"
        [disabled]="!collectionId || collections.length === 0"
      >
        <span class="icon"> + </span>
      </button>

      <div *ngIf="!collectionId">
        <h3 class="empty-state-text">
          Please select a Collection from the sidebar
        </h3>
      </div>
    </div>
  </div>
</div>
