<div class="centered-content">
  <div class="task-manager-container">
    <div class="sidebar has-background-white">
      <h2 class="title has-text-primary">Collections</h2>
      <div class="collection-menu">
        <a
          class="collection-menu-item"
          *ngFor="let collection of collections; let i = index"
          [routerLink]="['/collections', i]"
          routerLinkActive="is-active"
        >
          {{ collection.title }}</a
        >
        <!-- <a class="collection-menu-item is-active"> Collection 2 </a> -->
        <!-- <a class="collection-menu-item"> Collection 3 </a> -->
      </div>

      <button
        class="button is-primary has-text-white"
        routerLink="/new-collection"
      >
        + New Collection
      </button>
    </div>

    <div class="task-list-container has-background-light">
      <h2 class="title has-text-primary">Tasks</h2>
      <!-- Tasks -->
      <!-- <div class="task completed">
        <p class="completed">This is a task</p>
      </div> -->
      <div class="task" *ngFor="let task of tasks">
        <p>{{ task.title }}</p>
      </div>
    </div>
  </div>
</div>
