// This is where we put global styles and change variable values

// Import Fonts (Lato and Nunito)
@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,700");

// Added/changed color from rationarium site
$aqua: #00d6e1;
$blue: #1e93f1;
$bright-blue: #0096ff;
$baby-blue: #89cff0;

$light: #f8f8f8;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $blue;

$link: $aqua;

// Update some of Bulma's component variables

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Set custom global styles (will be applied to whole app)

html {
  background: linear-gradient(to left bottom, $aqua, $blue);
}

html,
body {
  height: 100%;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal-box {
  min-height: 200px;
  width: 100%;
  max-width: 580px;
  background: white;
  border-radius: 5px;
  padding: 35px;
}

.title {
  font-family: "Lato";
  font-size: 20px;
  // text-transform: uppercase;
  letter-spacing: 1px;
}

.white-box {
  padding: 35px;
  background: white;
  border-radius: 5px;

  width: 350px;
  max-width: 350px;
}

.h2 {
  font-size: 1.5rem;
}

.completed {
  opacity: 0.8;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: $bright-blue;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  top: 0%;
  right: 100%;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
