<div class="centered-content">
  <div class="modal-box">
    <h2 class="title has-text-primary">Create a new Collection</h2>
    <form>
      <input
        #collectionTitleInput
        class="input has-background-light"
        type="text"
        id="titleInput"
        name="titleInput"
        placeholder="Enter collection name..."
      />
      <br /><br />
      <div class="buttons is-right">
        <button class="button" type="button" routerLink="/">Cancel</button>
        <button
          class="button is-primary has-text-white"
          (click)="createCollection(collectionTitleInput.value)"
          (keyup.enter)="createCollection(collectionTitleInput.value)"
          type="submit"
        >
          Create
        </button>
      </div>
    </form>
  </div>
</div>
