<div class="centered-content">
  <div class="modal-box">
    <h2 class="title has-text-primary">Create a new Collection</h2>

    <input
      #collectionTitleInput
      class="input has-background-light"
      type="text"
      placeholder="Enter collection name..."
    />
    <br /><br />
    <div class="buttons is-right">
      <button class="button" routerLink="/">Cancel</button>
      <button
        class="button is-primary has-text-white"
        (click)="createCollection(collectionTitleInput.value)"
      >
        Create
      </button>
    </div>
  </div>
</div>
